<div class="page">
<nav id="colorlib-main-nav" role="navigation">
  <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
  <div class="js-fullheight colorlib-table">
    <div class="img" style="background-image: url(images/bg_3.jpg);"></div>
    <div class="colorlib-table-cell js-fullheight">
      <div class="row no-gutters">
        <div class="col-md-12 text-center">
          <h1 class="mb-4"><a href="/" class="logo">UNI Comunity</a></h1>
          <ul>
            <li class="active"><a href="index"><span>Home</span></a></li>
            <li><a href="about"><span>About</span></a></li>
            <li><a href="new-order"><span>New Order</span></a></li>
            <li><a href="orders"><span>All Orders</span></a></li>
            <li><a href="details"><span>Details</span></a></li>
            <li><a href="sign-up"><span>Sign up</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="colorlib-page">
  <header>
    <div class="container">
      <div class="colorlib-navbar-brand">
        <a class="colorlib-logo" href="index">UNI Comunity</a>
      </div>
      <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    </div>
  </header>

  <section class="hero-wrap js-fullheight">
    <div class="container px-0">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-12 ftco-animate text-center">
          <div class="desc">