  <%- include("./partials/head.ejs") %>
  
      <!-- <h1>Website Menu #10</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3> -->

      <div class="quotediv">
        <ul>
          <% if (user) { %>
            <li>Welcome, <%= user.name %></li>
            
          <% } %>
        </ul>
        <div class="quote-box">
          <img src="logo.png" alt="logo">
          <p id="quote">Click the button below!</p>
        </div>
        <button class=" btn-primary" id="btn">New Quote</button>
      </div>

      <%- include("./partials/page.ejs") %>

      <script>
        const quote = document.querySelector("#quote");
        const btn = document.querySelector("#btn");
  
        btn.addEventListener("click", getQuote);
  
        function getQuote() {
          fetch("http://quotable.io/random")
            .then((res) => res.json())
            .then((data) => {
              quote.innerHTML = data.content;
            });
        }
      </script>
  </body>
</html>
