
  <%- include("./partials/head.ejs") %>

      <!-- <h1>Website Menu #10</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3> -->

      <h1 style="font-size: 100px; text-align: center">API</h1>

      <%- include("./partials/page.ejs") %>
  </body>
</html>
