
    <%- include("./partials/head.ejs") %>

      <br>
                      <div class="text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                          style="width: 185px;" alt="logo">
                      </div>

                      <form action="/user/signup">
                        <h2>Login</h2>
                        <label for="email">Email</label>
                        <input type="text" name="email"  />
                        <div class="email error"></div>
                        <label for="password">Password</label>
                        <input type="password" name="password"  />
                        <div class="password error"></div>
                        <button class="btn btn-primary btn-block">log in 👍</button>
                        <a href="/user/signup"><span>Don't have an account?</span></a>
                      </form>

    <script src="/js/login.js"></script>

    <%- include("./partials/page.ejs") %>

</body>
</html>