<%- include("./partials/head.ejs") %>


  <div class="create-order content">
    <h2 class="text-center">Create an Order </h2>
    <form action="/orders" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>

      <label for="major">Choose Your Major:</label>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="major" name="major">
        <option selected >Choose...</option>
        <option value="BINFO">BINFO</option>
        <option value="BICS">BICS</option>
        <option value="BMATH">BMATH</option>
        <option value="BPHY">BPHY</option>
        <option value="BINFO-CEP">BINFO-CEP</option>
        </select>

      <label for="description">Description:</label>
      <textarea maxlength="150" id="description" name="description" required></textarea>

      <!-- <label class="form-label" for="file">Default file input example</label>
      <input type="file" class="form-control" id="file" name="file" /> -->

      <button class="btn btn-primary btn-block">Submit Request 👏</button>

    </form>
  </div>
    <%- include("./partials/page.ejs") %>
  </body>
</html>