
<%- include("./partials/head.ejs") %>

  <div class="about content ">
    <h2 class="text-center">Profile</h2>
    <ul>
        <% if (user) { %>
          <li>Welcome, <%= user.name %></li>
          
        <% } %>
      </ul>
    </div>
  <%- include("./partials/page.ejs") %>
</body>
</html>