
<%- include("./partials/head.ejs") %>
  <%- include("./partials/nav.ejs") %>

  <div class="about content ">
    <h2 class="text-center">Profile</h2>
    <ul>
        <% if (user) { %>
          <li>Welcome, <%= user.name %></li>
          <li><a href="/user/logout">Log out</a></li>
        <% } %>
      </ul>
    </div>
  <%- include("./partials/page.ejs") %>
</body>
</html>